.btn  
    display: inline-block
    max-width: 20ch
    padding: 5px 15px
    text:
        decoration: none
        transform: uppercase
    border-radius: 5px
    color: $text-inverse

    &:not(:last-of-type)
        margin: 0 0 10px 0

.btn--primary
    background: $accent
    border: 1px solid $text-inverse

    &:hover,
    &:focus
        background: lighten($accent, 20%)

.btn--secondary
    border: 1px solid $text-inverse
    
    &:hover,
    &:focus
        background: $secondary