.btn  
    display: inline-block
    padding: 5px 15px
    text:
        decoration: none
        transform: uppercase
    border-radius: 5px
    color: $text-inverse

.btn--primary
    background: $accent
    border: 1px solid $text-inverse

    &:hover,
    &:focus
        background: lighten($accent, 20%)

.btn--secondary
    border: 1px solid $text-inverse
    
    &:hover,
    &:focus
        background: $secondary