
// Colors
$main: rgb(2, 38, 184)
$secondary: rgb(6, 150, 11)
$accent: rgb(199, 14, 137)
$sidebars: rgb(229, 234, 237)

$white: lighten(whitesmoke, 20%)

// Text Colors

$text-main: rgb(63, 63, 64)
$text-inverse: $white
$text-accent: $accent
$text-secondary: $secondary

// icons: https://freeicons.io/
//icon color: #e2eef0