$gap: 10px
$header-height: 15vh
$footer-height: 8vh
$main-height: 70vh
$main-width: 100vw
$left-width: clamp(140px, 15vw, 250px)

body
    display: grid
    width: 100vw
    height: fit-content
    margin: 0 auto
    grid-template-columns: $left-width 1fr
    grid-template-rows: minmax(100px, auto)
    grid-template-areas: 'logo .' 'main main' 'footer footer'
    gap: $gap
    background: lighten($main, 20%)

.logo-container 
    grid-area: logo
    max-width: 20vw
    height: $header-height
    display: flex
    justify-content: flex-start
    align-items: flex-end
    align-items: space-around
    gap: $gap
    position: absolute
    top: 5%
    left: 3vw
    height: 10vh

    & h1
        font-family: Quicksand-bold
        font-size: 2.5rem
        color: $white
        text-shadow: 1px 1px 3px darken($main, 5%), 3px 2px 5px $main


.main-container 
    grid-area: main
    width: $main-width
    height: $main-height
    background: transparent
    align-self: start
    align-self: center