.main-container 
    display: flex
    flex-direction: column
    place-items: center
    gap: calc($gap * 2)
    padding: 2rem 1.5rem
    min-width: 320px

.card
    width: clamp(300px, 100%, 900px)
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: minmax(80px, auto)
    grid-template-areas: 'static static' 'temp details'
    place-items: center
    border-radius: 8px
    border: 1px solid lightgray
    box-shadow: 5px 5px 10px lighten($main, 40%)
    backdrop-filter: blur(15px)
    color: lighten($main, 60%)

.city
    grid-area: static
    letter-spacing: 2px

    &::first-letter
        font-size: 1.5rem
        color: lighten($main, 50%)

.temperature
    grid-area: temp

.temp-value
    font-size: 3rem

.icon
    font-size: 10rem


.results-table
    grid-area: details

.temperature, .city::first-letter
    font-family: quicksand-bold
    text-shadow: 5px 5px 10px $main

table
    padding: 1rem

tr 
    padding: 1.5rem

td
    width: 15vw
    padding: 0.5rem 0.25rem

#form
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    gap: calc($gap * 1.25)

    #location
        height: 30px
        width: clamp(200px, 20vw, 300px)
        border-radius: 15px
        border: none
        box-shadow: 2px 2px 5px lightgray
        padding: 0.25rem
    
    label
        font-family: quicksand-bold
        color: whitesmoke
        text-shadow: 3px 3px 5px $main
        font-size: 1.2rem

@media(max-width: 450px)
    .card
        grid-template-columns: 1fr
        grid-template-areas: 'static' 'temp' 'details'
        gap: calc($gap * 2)

    .city
        font-size: 1rem
        text-align: center

    .temperature
        display: flex
        align-items: center

    .temp-value
        font-size: 1.5rem

    .icon
        font-size: 5rem
    
    table
        width: 80vw
    
    td
        width: 20vw
        
    