@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(235, 245, 254);
  font-family: Quicksand-regular;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Quicksand-bold";
  font-weight: 900;
  src: url("./assets/fonts/quicksand-bold-webfont.woff") format("woff");
}
@font-face {
  font-family: "Quicksand-regular";
  font-weight: 500;
  src: url(./assets/fonts/quicksand-regular-webfont.woff) format("woff");
}
h1 {
  line-height: 1.15;
  letter-spacing: 4px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #234efd;
}

.logo-container {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 2rem 3rem;
  max-width: 25vw;
  height: 15vh;
  gap: 10px;
}
.logo-container h1 {
  font-family: Quicksand-bold;
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 3px #02219f, 3px 2px 5px rgb(2, 38, 184);
  text-align: center;
}

.main-container {
  width: clamp(320px, 100vw, 1500px);
  background: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  gap: 20px;
  padding: 2rem 1.5rem;
  min-width: 320px;
}

.card {
  width: clamp(300px, 100%, 900px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: minmax(80px, auto);
  grid-template-rows: minmax(80px, auto);
      grid-template-areas: "static static" "temp details";
  place-items: center;
  border-radius: 8px;
  border: 1px solid lightgray;
  -webkit-box-shadow: 5px 5px 10px #88a0fe;
          box-shadow: 5px 5px 10px #88a0fe;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: #edf1ff;
}

.city {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: static;
  letter-spacing: 2px;
}
.city::first-letter {
  font-size: 1.5rem;
  color: #bbc8fe;
}

.temperature {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: temp;
}

.temp-value {
  font-size: 3rem;
}

.icon {
  font-size: 10rem;
}

.results-table {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: details;
}

.temperature, .city::first-letter {
  font-family: quicksand-bold;
  text-shadow: 5px 5px 10px rgb(2, 38, 184);
}

table {
  padding: 1rem;
}

tr {
  padding: 1.5rem;
}

td {
  width: 15vw;
  padding: 0.5rem 0.25rem;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12.5px;
}
#form #location {
  height: 30px;
  width: clamp(200px, 20vw, 300px);
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: 2px 2px 5px lightgray;
          box-shadow: 2px 2px 5px lightgray;
  padding: 0.25rem;
}
#form label {
  font-family: quicksand-bold;
  color: whitesmoke;
  text-shadow: 3px 3px 5px rgb(2, 38, 184);
  font-size: 1.2rem;
}

@media (max-width: 450px) {
  .card {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 20px auto 20px auto;
        grid-template-areas: "static" "temp" "details";
    gap: 20px;
  }
  .city {
    font-size: 1rem;
    text-align: center;
  }
  .temperature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .temp-value {
    font-size: 1.5rem;
  }
  .icon {
    font-size: 5rem;
  }
  table {
    width: 80vw;
  }
  td {
    width: 20vw;
  }
  .city {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .temperature {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .results-table {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}
.animation-container {
  position: absolute;
  width: 100vw;
  height: 70vh;
  grid-area: main;
  z-index: -1;
}

.area {
  background: #234efd;
  width: 100%;
  height: 100%;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.circles li {
  position: relative;
  top: 20%;
  list-style: none;
  width: 40px;
  height: 40px;
  display: block;
  background: rgba(144, 138, 189, 0.2);
  -webkit-animation: appear 15s linear infinite alternate;
          animation: appear 15s linear infinite alternate;
}
.circles li:nth-of-type(1) {
  left: 20%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.circles li:nth-of-type(2) {
  left: 10%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.circles li:nth-of-type(3) {
  left: 60%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.circles li:nth-of-type(4) {
  left: 80%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.circles li:nth-of-type(5) {
  left: 90%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}
.circles li:nth-of-type(6) {
  left: 30%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.circles li:nth-of-type(7) {
  left: 75%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}
.circles li:nth-of-type(8) {
  left: 45%;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
.circles li:nth-of-type(9) {
  left: 65%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.circles li:nth-of-type(10) {
  left: 75%;
  width: 55px;
  height: 55px;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}
.circles li:nth-of-type(even) {
  animation-direction: alternate-reverse;
}
@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateY(300px) rotate(20deg) scaleX(1) scaleY(1);
            transform: translateY(300px) rotate(20deg) scaleX(1) scaleY(1);
    opacity: 0.75;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(steelblue), to(white));
    background: linear-gradient(steelblue, white);
  }
  50% {
    -webkit-transform: translateY(-200px) rotate(600deg) scaleX(0.5) scaleY(0.5);
            transform: translateY(-200px) rotate(600deg) scaleX(0.5) scaleY(0.5);
    opacity: 0.5;
    border-radius: 40px;
  }
  100% {
    -webkit-transform: translateY(-250px) rotate(720deg) scaleX(3) scaleY(3);
            transform: translateY(-250px) rotate(720deg) scaleX(3) scaleY(3);
    background: -webkit-gradient(linear, left top, left bottom, from(steelblue), color-stop(steelblue), to(white));
    background: linear-gradient(steelblue, steelblue, white);
    opacity: 0.35;
    border-radius: 50%;
  }
}
@keyframes appear {
  0% {
    -webkit-transform: translateY(300px) rotate(20deg) scaleX(1) scaleY(1);
            transform: translateY(300px) rotate(20deg) scaleX(1) scaleY(1);
    opacity: 0.75;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(steelblue), to(white));
    background: linear-gradient(steelblue, white);
  }
  50% {
    -webkit-transform: translateY(-200px) rotate(600deg) scaleX(0.5) scaleY(0.5);
            transform: translateY(-200px) rotate(600deg) scaleX(0.5) scaleY(0.5);
    opacity: 0.5;
    border-radius: 40px;
  }
  100% {
    -webkit-transform: translateY(-250px) rotate(720deg) scaleX(3) scaleY(3);
            transform: translateY(-250px) rotate(720deg) scaleX(3) scaleY(3);
    background: -webkit-gradient(linear, left top, left bottom, from(steelblue), color-stop(steelblue), to(white));
    background: linear-gradient(steelblue, steelblue, white);
    opacity: 0.35;
    border-radius: 50%;
  }
}

.btn {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
}

.btn--primary {
  background: rgb(199, 14, 137);
  border: 1px solid white;
}
.btn--primary:hover, .btn--primary:focus {
  background: rgb(6, 150, 11);
}